<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/style.css">
  <meta property='og:title' content='Portfolio of Milorad Spasić'/>
  <meta property='og:image' content='assets/images/og-image.jpg.png'/>
  <meta property='og:description' content='Senior data engineer - database developer, databse architect'/>
  <meta property='og:url' content='//github.com/floyd011/ballerina/blob/main/assets/images/og-image.jpg.png'/>
  <title>{{ page.title }}</title>
</head>
<body>
  {{ content }}
</body>
</html>
