<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/style.css">
  <meta property='og:title' content='RAG based AI-Powered Document Intelligence System'/>
  <meta property='og:image' content='assets/images/imageIMG_1004.jpg'/>
  <meta property='og:description' content='RAG based AI-Powered Document Intelligence System'/>
  <meta property='og:url' content='//github.com/floyd011/ballerina/blob/main/assets/images/IMG_1004.jpg'/>
  <title>{{ page.title }}</title>
</head>
<body>
  {{ content }}
</body>
</html>
